<% media = local_assigns[:table_box][:media] %>
<tr>
  <td align="center" class=
  "mcnCaptionBottomImageContent" style=
  "padding: 0 9px 9px 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
  valign="top"><img alt="" class="mcnImage" src=
  "<%= media.file_name %>"
  style=
  "max-width: 720px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;"
  width="264">

  </td>
</tr>
<tr>
  <td class="mcnTextContent" style=
  "padding: 0 9px 0 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;"
  valign="top" width="264"><%= media.description %></td>
</tr>
